.article-item {
    position: relative;
    z-index: 0;
    display: flex;
    border-radius: 16px;
    transition: all 0.45s ease;

    &:not(.is-card) {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        &:hover {
            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        }
        .article-item {
            &__thumbnail {
                flex-shrink: 0;
                aspect-ratio: 1;
                width: 194px;
            }
            &__body {
                &--title a {
                    @include line-clamp(1);
                }
            }
        }
    }
    &.is-card {
        flex-direction: column;
        .article-item {
            &__thumbnail {
                aspect-ratio: 4/3;
            }
            &__body {
                margin: -48px 0 0 20px;
                background-color: rgba(255, 255, 255, 1);
                box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
                &--title a {
                    @include line-clamp(2);
                }
                &--tag {
                    position: absolute;
                    top: 16px;
                    left: 16px;
                    right: 16px;
                    p {
                        background-color: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }

    &__thumbnail {
        position: relative;
        z-index: -1;
        border-radius: 16px;
        overflow: hidden;
        &:hover img {
            transform: scale(1.12);
        }
        img {
            transition: all 0.45s ease;
        }
    }
    &__body {
        flex-grow: 1;
        padding: 16px 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-radius: 16px 0 16px 16px;
        transition: all 0.45s ease;
        &--tag {
            p {
                padding: 4px 12px;
                font-size: 12px;
                line-height: 18px;
                font-weight: 500;
                border-radius: 99px;
                background-color: $gray;
            }
        }
        &--title {
            font-size: 20px;
            line-height: 26px;
            font-weight: 700;
        }
        &--intro {
            @include color-text(0.85);
            @include line-clamp(2);
        }
        &--author, &--time {
            font-size: 14px;
            line-height: 20px;
        }
        &--author {
            svg {
                padding: 6px;
                font-size: 32px;
                background-color: $gray;
                border-radius: 50%;
            }
        }
        &--time {
            @include color-text(0.5);
        }
    }
}