.category {
    border: 1px solid $gray-600;
    border-radius: 16px;
    & > div:first-child {
        padding: 14px 16px;
        border-bottom: 1px solid $gray-600;
        svg {
            font-size: 20px;
        }
    }
    ul {
        list-style: none;
        margin-bottom: 0;
        padding: 14px 16px;
        li {
            display: flex;
            align-items: center;
            gap: 14px;
            &:not(:last-child) {
                margin-bottom: 12px;
            }
            img {
                aspect-ratio: 1;
                width: 48px;
                border-radius: 50%;
            }
            & > div {
                p:last-child {
                    color: $gray-800;
                }
            }
        }
    }
}