.footer {
    padding: 48px 0 92px;
    background-color: $primary-700;
    background-image: url('/imgs/footer_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    @include respond-to(sm) {
        padding: 48px 0 16px;
    }
    img {
        width: 72px;
    }
    &-heading {
        display: flex;
        flex-direction: column;
        gap: 16px;
        img {
            filter: brightness(0) invert(1);
        }
        ul {
            @include reset-ul;
            gap: 8px;
            a {
                display: block;
                svg {
                    padding: 6px;
                    font-size: 34px;
                    border-radius: 50%;
                    background: hsla(0, 0%, 100%, .1);
                    transition: 0.35s ease;
                }
                &:hover {
                    transform: scale(1.22);
                    svg {
                        background: #FFFFFF;
                    }
                }
            }
        }
    }
    &-menu {
        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            li {
                &:not(:last-child) {
                    margin-bottom: 4px;
                }
                a {
                    color: rgba(229, 240, 255, 0.5);
                    &:hover {
                        color: #FFFFFF;
                    }
                    svg {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    &-license {
        margin-top: 16px;
        padding-top: 16px;
        @include color-primary-400(0.5);
        & > * {
            @include color-primary-400(0.5);
        }
    }
}