.header {
    z-index: 9;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 0;
    transition: all 0.35s ease;
    @include respond-to(sm) {
        top: 0;
        bottom: unset;
    }
    &-wraper {
        background-color: #FFFFFF;
        padding: 6px 16px;
        border-radius: 99px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
    img {
        width: 54px;
    }

    &-menu {
        flex: 1;
        @include respond-to(sm) {
            flex: none;
        }
        & > div {
            flex: 1;
            @include respond-to(sm) {
                flex: none;
            }
        }
    }
    ul {
        flex: 1;
        gap: 8px;
        @include reset-ul;
        @include respond-to(sm) {
            flex: none;
        }
        @include respond-to(lg) {
            gap: 24px;
        }
        li {
            font-size: 12px;
            line-height: 18px;
            font-weight: 500;
            flex: 1;
            @include respond-to(sm) {
                flex: none;
                font-size: 14px;
                line-height: 20px;
            }
            @include respond-to(lg) {
                font-size: 16px;
                line-height: 24px;
            }
            svg {
                font-size: 24px;
                @include respond-to(sm) {
                    display: none;
                }
            }
        }
    }
}