@mixin respond-to($breakpoint) {
    @if $breakpoint == tn {
        @media (min-width: #{$breakpoint-tn}) {
            @content;
        }
    } @else if $breakpoint == xs {
        @media (min-width: #{$breakpoint-xs}) {
            @content;
        }
    } @else if $breakpoint == sm {
        @media (min-width: #{$breakpoint-sm}) {
            @content;
        }
    } @else if $breakpoint == md {
        @media (min-width: #{$breakpoint-md}) {
            @content;
        }
    } @else if $breakpoint == lg {
        @media (min-width: #{$breakpoint-lg}) {
            @content;
        }
    } @else if $breakpoint == xl {
        @media (min-width: #{$breakpoint-xl}) {
            @content;
        }
    } @else if $breakpoint == xxl {
        @media (min-width: #{$breakpoint-xxl}) {
            @content;
        }
    } @else if $breakpoint == largeXl {
        @media (min-width: #{$breakpoint-largeXl}) {
            @content;
        }
    } @else if $breakpoint == extraXl {
        @media (min-width: #{$breakpoint-extraXl}) {
            @content;
        }
    }
}

@mixin line-clamp($number: 1) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $number;
}

@mixin reset-ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

@mixin color-text($opacity: 1) {
    color: rgba(52, 52, 54, $opacity);
}
@mixin color-primary-400($opacity: 1) {
    color: rgba(229, 240, 255, $opacity);
}