.article {
    &-detail {
        .heading {
            padding: 0;
        }
        &__heading {
            padding: 5rem 0 16px;
            border-bottom: 1px solid $gray-600;
            @include respond-to(sm) {
                padding: 8rem 0 24px;
            }
            @include respond-to(md) {
                padding: 14rem 0 24px;
            }
            @include respond-to(lg) {
                padding: 16rem 0 40px;
            }
            &--author {
                svg {
                    padding: 8px;
                    font-size: 35px;
                    background-color: rgba(234, 234, 234, 1);
                    border-radius: 50%;
                }
            }
            &--social {
                ul {
                    @include reset-ul;
                    li {
                        font-size: 20px;
                    }
                }
            }
        }
        &__main {
            padding: 24px 0;
            @include respond-to(lg) {
                padding: 40px 0;
            }
            article {
                & > * {
                    margin-bottom: 16px;
                    text-align: justify;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                h2, h3, h4, h5 {
                    font-weight: 700;
                }
                img {
                    border-radius: 16px;
                }
                figcaption {
                    margin-top: 8px;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 300;
                    font-style: italic;
                    color: hsl(220 8.9% 46.1%);
                }
            }
        }
        .article-slider {
            padding: 24px 0;
            @include respond-to(lg) {
                padding: 40px 0;
            }
        }
    }
}