.recruit {
    background-color: $bg;
    .heading {
        &::before {
            background-image: linear-gradient(0deg, rgb(246, 247, 250) 0%, rgba(246, 247, 250, 0.75) 100%);
        }
        @include respond-to(lg) {
            padding: 16rem 0 2rem;
        }
    }
    &-heading {
        text-align: center;
        h1 {
            max-width: 846px;
            margin: 0 auto;
        }
        &__intro {
            max-width: 712px;
            margin: 8px auto 0;
            font-size: 18px;
            line-height: 26px;
        }
        form {
            max-width: 846px;
            margin: 24px auto 0;
        }
    }
    &-main {
        padding: 24px 0;
        @include respond-to(lg) {
            padding: 40px 0;
        }
    }
    &-list {
        position: sticky;
        top: 6rem;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(1, 1fr);
    }

    &-item {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid transparent;
        border-radius: 16px;
        box-shadow: 0px 4px 20px 0px rgba(0,0,0,.06);
        transition: all 0.45s ease;
        &:hover {
            border-color: $primary;
            background-color: $primary-200;
        }
        &__time {
            font-size: 12px;
            line-height: 18px;
            color: #A6A6A6;
        }
        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            li {
                display: flex;
                align-items: center;
                column-gap: 4px;
            }
            &.recruit-item__info {
                svg {
                    font-size: 18px;
                }
            }
            &.recruit-item__more {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                li {
                    padding: 2px 14px;
                    font-weight: 500;
                    background-color: $gray;
                    border-radius: 99px;
                }
            }
        }
    }
    &-desc {
        padding: 24px;
        background-color: #FFFFFF;
        border-radius: 16px;
        box-shadow: 0px 4px 20px 0px rgba(0,0,0,.06);
        &__heading {
            padding: 16px;
            color: #FFFFFF;
            background: url('/imgs/parttern_bg.png') no-repeat center;
            background-size: cover;
            border-radius: 16px;
            box-shadow: 0px 4px 20px 0px rgba(0,0,0,.06);
            ul {
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
                display: grid;
                column-gap: 24px;
                row-gap: 14px;
                grid-template-columns: repeat(2, 1fr);
                @include respond-to(sm) {
                    grid-template-columns: repeat(3, 1fr);
                }
                li {
                    display: flex;
                    align-items: center;
                    column-gap: 8px;
                    svg {
                        flex-shrink: 0;
                        padding: 8px;
                        font-size: 38px;
                        color: $primary;
                        background-color: $primary-400;
                        border-radius: 50%;
                    }
                    div > p:last-child {
                        @include color-primary-400(0.85);
                    }
                }
            }
        }
        article {
            margin-top: 24px;
            & > * {
                margin-bottom: 8px;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            h2, h3 {
                margin-top: 24px;
                font-size: 20px;
                line-height: 28px;
                font-weight: 700;
            }
            ul {
                padding-left: 20px;
            }
        }
        &__footer {
            margin-top: 24px;
            padding-top: 24px;
            border-top: 1px solid $gray;
            & > p {
                margin-bottom: 16px;
                font-size: 20px;
                line-height: 28px;
                font-weight: 700;
            }
            ul {
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
                display: flex;
                gap: 8px;
                li {
                    padding: 2px 14px;
                    display: flex;
                    align-items: center;
                    column-gap: 4px;
                    font-weight: 500;
                    background-color: $gray;
                    border-radius: 99px;
                }
            }
        }
    }
    &-process {
        padding: 40px 0;
        background-color: #FFFFFF;
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            column-gap: 32px;
            row-gap: 8px;
            counter-reset: process-counter;
            @include respond-to(md) {
                grid-template-columns: repeat(2, 1fr);
                row-gap: 16px;
            }
            @include respond-to(lg) {
                grid-template-columns: repeat(4, 1fr);
            }
            & > * {
                counter-increment: process-counter;
                position: relative;
                &:before {
                    content: counter(process-counter, decimal-leading-zero); 
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 32px;
                    line-height: 1;
                    font-weight: 900;
                    color: $gray;
                    @include respond-to(tn) {
                        font-size: 48px;
                    }
                    @include respond-to(sm) {
                        font-size: 48px;
                    }
                    @include respond-to(lg) {
                        left: unset;
                        right: 0;
                        font-size: 138px;
                    }
                    @include respond-to(xl) {
                        font-size: 164px;
                    }
                    @include respond-to(xxl) {
                        font-size: 192px;
                    }
                }
                & > * {
                    position: relative;
                }
                div {
                    &:has(svg) {
                        aspect-ratio: 1;
                        flex-shrink: 0;
                        width: 112px;
                        @include respond-to(tn) {
                            width: 148px;
                        }
                        @include respond-to(md) {
                            width: 15vw;
                        }
                        @include respond-to(lg) {
                            flex-shrink: unset;
                            width: 50%;
                        }
                    }
                    p:last-of-type {
                        font-size: 14px;
                        line-height: 20px;
                        @include respond-to(md) {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }

    &-modal {
        .btn-outline {
            &:hover {
                color: #dc3545 !important;
                border-color: #dc3545 !important;
                background-color: transparent !important;
            }
        }
    }
}
