body {
    font-family: 'Montserrat', sans-serif;
    color: $text;
    background-color: #FAFAFA;
}

a {
    text-decoration: unset;
    color: unset;
    transition: 0.35s;
    &:hover {
        color: $primary;
    }
}

img {
    max-width: 100%;
}

.pagination {
    .page-item {
        aspect-ratio: 1;
    }
}

.swiper {
    &-slide {
        width: auto;
        height: auto;
        & > * {
            height: 100%;
        }
    }
}